<template>
  <q-page>
    <div
      class="col-xs-12 q-pt-md"
      v-for="publicacion in ListPublicaciones"
      :key="publicacion.Descripcion + publicacion.Desc2"
    >
      <div class="col-xs-12">
        <q-card style="width: 620px">
          <div class="col-xs-12">
            <p class="q-ml-md q-pt-md" style="font-weight: bolder">
              {{ publicacion.Descripcion }}
              <a class="" style="font-weight: 400">
                {{ publicacion.Desc2 }}
              </a>
            </p>
          </div>
          <q-separator class="q-pl-sm" size="2px" />
          <div class="row q-ml-md q-pt-md contenedor-principal">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
              <q-btn round>
                <q-avatar size="42px">
                  <img :src="publicacion.imagenAvatar" />
                </q-avatar>
              </q-btn>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
              <p class="no-margin">{{ publicacion.Publico }}</p>
              <p class="no-margin">{{ publicacion.Fecha }}</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-right">
              <q-icon name="more_vert" size="2rem" class="text-grey-7" />
              <q-icon name="close" size="2rem" class="text-grey-7" />
            </div>
          </div>
          <div class="q-pt-md">
            <q-img :src="publicacion.urlPublicacion" />
          </div>
          <q-separator class="q-pl-sm" size="2px" />
          <div class="row q-ml-md q-pt-md">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
              <div class="flex items-center">
                <q-btn
                  round
                  color="primary"
                  :icon="publicacion.iconLike"
                  size="0.5rem"
                />
                <p class="text-body2 text-grey-7 no-margin">
                  {{ publicacion.vecesLikes }}
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
              <p class="text-body2 text-grey-7 text-right q-mr-sm">
                {{ publicacion.vecesCompartido }}
              </p>
            </div>
          </div>
          <q-separator class="q-pl-sm" size="2px" />
          <div class="row q-ml-md q-pt-md">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
              <div class="flex items-center">
                <q-icon
                  :name="publicacion.iconLike"
                  size="1.5rem"
                  style="color: gray"
                >
                </q-icon>
                <p class="text-body2 text-grey-7 no-margin">
                  {{ publicacion.like }}
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
              <div class="flex items-center">
                <q-icon
                  :name="publicacion.iconComentar"
                  size="1.5rem"
                  style="color: gray"
                >
                </q-icon>
                <p class="text-body2 text-grey-7 no-margin text-right">
                  {{ publicacion.comentar }}
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
              <div class="flex items-center q-mr-sm justify-end">
                <q-icon
                  :name="publicacion.iconcompartir"
                  size="1.5rem"
                  style="color: gray"
                >
                </q-icon>
                <p class="text-body2 text-grey-7">
                  {{ publicacion.compartir }}
                </p>
              </div>
            </div>
          </div>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "visualizarPublicacion",
  setup() {
    return {
      ListPublicaciones: Publicaciones,
    };
  },
};
const Publicaciones = [
  {
    Descripcion: "Guadalupe Arteaga",
    Desc2: " compartió la públicación",
    imagenAvatar: "img/p1.jpg",
    Publico: "Despido injustificado",
    Fecha: "2 d",
    urlPublicacion: "img/meme1.jpg",
    vecesLikes: " Guadalupe Arteaga y 5 personas mas",
    vecesCompartido: "258 veces compartida",
    iconLike: "fa-solid fa-thumbs-up",
    like: "Me gusta",
    iconComentar: "chat_bubble",
    comentar: "Comentar",
    iconcompartir: "redo",
    compartir: "Compartir",
  },
  {
    Descripcion: "Jessi Ruiz y Manuel Aguila",
    Desc2: " han compartido una publicación",
    imagenAvatar: "https://cdn.quasar.dev/img/avatar2.jpg",
    Publico: "Lizeth López",
    Fecha: "15 de Diciembre de 2022",
    urlPublicacion: "img/p2.jpg",
    vecesLikes: " Jessy ruiz y 1589 personas mas",
    vecesCompartido: "789 veces compartida",
    iconLike: "fa-solid fa-thumbs-up",
    like: "Me gusta",
    iconComentar: "chat_bubble",
    comentar: "Comentar",
    iconcompartir: "redo",
    compartir: "Compartir",
  },
];
</script>
