<template>
  <q-page>
    <div class="col-xs-12 q-mt-md">
      <div class="col-xs-12">
        <q-card style="width: 620px">
          <div class="row q-mt-md contenedor-busqueda">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1 q-mt-md q-pl-sm">
              <q-btn round>
                <q-avatar size="42px">
                  <img src="img/perfil.png" />
                </q-avatar>
              </q-btn>
            </div>
            <div
              class="col-xs-12 col-sm-12 col-md-12 col-lg-10 q-mt-md q-pl-sm contenedor-busqueda__elemento"
            >
              <q-input
                rounded
                standout
                v-model="text"
                label="¿Qué estás pensando, Mariela?"
              />
            </div>
          </div>
          <q-separator class="q-mt-sm" size="2px" />
          <div class="row q-mt-sm">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
              <q-btn
                flat
                icon="fa-solid fa-video"
                label="Video en directo"
                class="text-body2 text-grey-7"
                no-caps
                style="color:red
                "
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
              <q-btn
                flat
                icon="fa-regular fa-file-image"
                label="Foto/vídeo"
                class="text-body2 text-grey-7"
                no-caps
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
              <q-btn
                flat
                icon="fa-regular fa-face-grin"
                label="Sentimiento/actividad"
                class="text-body2 text-grey-7"
                no-caps
              />
            </div>
          </div>
        </q-card>
      </div>
      <div class="col-xs-12">
        <visualizar-Publicacion></visualizar-Publicacion>
      </div>
    </div>
  </q-page>
</template>

<script>
import visualizarPublicacion from "src/components/verPublicaciones/visualizarPublicacion.vue";
export default {
  name: "addPublicaciones",
  components: { visualizarPublicacion },
};
</script>
