<template>
  <q-page class="flex flex-center fondo">
    <Historial-Estado></Historial-Estado>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import HistorialEstado from "src/components/HistorialEstados/HistorialEstado.vue";

export default defineComponent({
  name: "IndexPage",
  components: { HistorialEstado },
});
</script>
