<template>
  <q-item clickable tag="a" target="_blank">
    <q-item-section v-if="image" avatar>
      <q-img
        :src="image"
        spinner-color="red"
        style="height: 40px; max-width: 40px; border-radius: 20px"
      />
    </q-item-section>

    <q-item-section>
      <q-item-label class="tam-font">{{ nombre }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: "FacebookContacts",
  props: {
    nombre: {
      type: String,
      required: true,
    },

    image: {
      type: String,
      default: "",
    },
  },
};
</script>
