<template>
  <q-item clickable tag="a" target="_blank">
    <q-item-section v-if="image" avatar>
      <q-img
        :src="image"
        spinner-color="red"
        style="height: 30px; max-width: 30px; border-radius: 20px"
      />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ nombre }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "ContactsArray",
  props: {
    nombre: {
      type: String,
      required: true,
    },

    image: {
      type: String,
      default: "",
    },
  },
});
</script>
