<template>
  <q-item clickable tag="a" target="_blank" :href="link">
    <q-img
      :src="icon"
      spinner-color="red"
      style="height: 40px; max-width: 40px; border-radius: 20px"
    />
    <q-item-section>
      <q-item-label class="margenes tam-font">{{ title }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "EssentialLink",
  props: {
    title: {
      type: String,
      required: true,
    },
    link: {
      type: String,
      default: "",
    },
    icon: {
      type: String,
      default: "",
    },
  },
});
</script>
