// app global css in SCSS form

.fondo {
  // Clase para el fondo del menu izquierdo
  background-color: #eef2f5;
}

.fondo_h {
  // Clase para el fondo de la barra
  background-color: #ffffff;
}


.q-field--standout.q-field--rounded .q-field__control {
  height: 40px;
  background: #eef2f5;
}

.q-field__label {
  top: 11px;
  font-size: 15px;
}

.ocultar-contenedor {
  width: auto;
  display: none;
}
@media (min-width: 1200px) {
  .ocultar-contenedor {
    display: block;
  }
}

.btn-flotante {
  margin-right: -270px !important;
}

.texto-drawerright {
  font-size: 15px;
}

.margenes {
  margin-left: 12px;
  margin-top: 3px;
}

.tam-text {
  font-size: 16px !important;
}

.tam-font {
  font-size: 15px;
}

.tam-txt {
  font-size: 12px;
}

.aling {
  width: 15%;
  left: 10px;
  margin-left: -243px;
}

.text-center {
  padding: 6px !important;
  background: transparent !important;
}
.btn-estados {
  border-radius: 50%;
  border: 5px solid blue;
}
[role="listitem"] {
  background: transparent !important;
}

.imgheight {
  height: 140px !important;
}

.imgtamaño {
  height: 182px !important;
}

.contenedor-principal {
  display: grid;
  grid-template-columns: 10% 75% 33%;
  align-items: center;
}
.contenedor-busqueda {
  justify-content: space-between;
}
.contenedor-busqueda__elemento {
  margin-right: 40px;
  margin-top: 23px;
}

.fa-house, .fa-store, .fa-gamepad, .fa-user-group, .fa-display {
  font-size: 25px;
}
.fa-store, .fa-gamepad, .fa-user-group, .fa-display {
  color: gray;
}

.fa-video {
  color: #ff0036;
}

.fa-file-image {
color: #00c06a;
}

.fa-face-grin {
  color: #ffb61e;
}
