<template>
  <div class="items-start q-gutter-md q-mt-md">
    <div class="col-xs-12">
      <q-card style="width: 620px">
        <q-tabs
          v-model="tab"
          dense
          inline-label
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
        >
          <q-tab name="historias" label="Historias" icon="import_contacts" />
          <q-tab name="reels" label="Reels" icon="fa-solid fa-clapperboard" />
        </q-tabs>
        <q-separator />
        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="historias">
            <div class="row">
              <div
                class="col-xs-12 col-sm-12 col-md-12 col-lg-3"
                style="width: 130px !important"
              >
                <q-card class="my-card round">
                  <img class="imgheight" src="img/p_foto.jpg" />
                  <div>
                    <q-btn
                      round
                      color="primary"
                      icon="add"
                      style="
                        top: 0;
                        left: 37px;
                        transform: translateY(-50%);
                        border-radius: 50%;
                        border: 5px solid white;
                      "
                    />
                  </div>
                  <div class="absolute-bottom text-subtitle2 text-center">
                    Crear historia
                  </div>
                </q-card>
              </div>
              <div
                class="col-xs-12 col-sm-12 col-md-12 col-lg-3"
                style="width: 130px !important; margin-left: 15px !important"
                v-for="Estado in ListEstados"
                :key="Estado.Nombre"
              >
                <q-card class="my-card">
                  <q-img class="imgtamaño" :src="Estado.imagen">
                    <q-item>
                      <q-item-section avatar>
                        <q-avatar>
                          <img class="btn-estados" :src="Estado.UrlAvatar" />
                        </q-avatar>
                      </q-item-section>
                    </q-item>
                    <div class="absolute-bottom text-subtitle2 text-center">
                      {{ Estado.Nombre }}
                    </div>
                  </q-img>
                </q-card>
              </div>
              <div
                class="col-xs-12 col-sm-12 col-md-12 col-lg-3"
                style="width: 130px !important; margin-left: 15px !important"
              >
                <q-card class="my-card">
                  <q-img class="imgtamaño" src="img/publi3.jpg">
                    <q-item>
                      <q-item-section avatar>
                        <q-avatar>
                          <img class="btn-estados" src="img/publi3.jpg" />
                        </q-avatar>
                      </q-item-section>
                    </q-item>
                    <div class="absolute-bottom text-subtitle2 text-center">
                      Jissel Juarez
                    </div>
                    <q-btn
                      round
                      icon="chevron_right"
                      style="top: 81px; left: 65px; background-color: white"
                      size="1.1rem"
                    />
                  </q-img>
                </q-card>
              </div>
            </div>
          </q-tab-panel>
          <q-tab-panel name="reels">
            <div class="row">
              <div
                class="col-xs-12 col-sm-12 col-md-12 col-lg-3"
                style="width: 130px !important"
              >
                <q-card class="my-card round">
                  <img class="imgheight" src="img/publi1.jpg" />
                </q-card>
              </div>
              <div
                class="col-xs-12 col-sm-12 col-md-12 col-lg-3"
                style="width: 130px !important; margin-left: 15px !important"
                v-for="Estado in ListEstados"
                :key="Estado.Nombre"
              >
                <q-card class="my-card">
                  <q-img :src="Estado.imagen">
                    <div class="absolute-bottom text-subtitle2 text-center">
                      {{ Estado.Nombre }}
                    </div>
                  </q-img>
                </q-card>
              </div>
              <div
                class="col-xs-12 col-sm-12 col-md-12 col-lg-3"
                style="width: 130px !important; margin-left: 15px !important"
              >
                <q-card class="my-card">
                  <q-img src="img/publi3.jpg">
                    <div class="absolute-bottom text-subtitle2 text-center">
                      Jissel Juarez
                    </div>
                    <q-btn
                      round
                      icon="chevron_right"
                      style="top: 81px; left: 65px; background-color: white"
                      size="1.1rem"
                    />
                  </q-img>
                </q-card>
              </div>
            </div>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </div>
    <div class="col-xs-12">
      <Agregar-Publicacion></Agregar-Publicacion>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import AgregarPublicacion from "src/components/agregarPublicaciones/addPublicaciones.vue";
export default {
  name: "HistorialEstado",
  components: { AgregarPublicacion },
  setup() {
    return {
      ListEstados: Estados,
      tab: ref("historias"),
    };
  },
};
const Estados = [
  {
    Nombre: "Jose Manuel",
    imagen: "img/publi1.jpg",
    UrlAvatar: "img/publi1.jpg",
  },
  {
    Nombre: "Marla Rodriguez",
    imagen: "img/publi2.jpg",
    UrlAvatar: "img/publi2.jpg",
  },
];
</script>
