<template>
  <q-layout view="hHh Lpr lFf">
    <!-- 2023-03-11: Mariela Chirinos - Barra !-->
    <q-header elevated class="fondo_h">
      <q-toolbar>
        <q-btn flat dense round class="tama">
            <q-img
              style="
                height: 46px;
                max-width: 46px;
                border-radius: 20px;
                width: 46px;
              "
              src="img/Icon_Fb.png"
            />
          </q-btn>
        <div style="max-width: 300px">
          <q-input rounded standout label="Busca en Facebook">
            <template v-slot:prepend>
              <q-icon name="search" style="margin-top:-14px"/>
            </template>
          </q-input>
        </div>

        <!-- 2023-03-12: Mariela Chirinos - Botones !-->
        <div class="ocultar-contenedor" style="margin-left: 19%; max-width: 600px">
          <q-tabs v-model="tab" class="text-blue">
            <q-tab class="fa-solid fa-house">
              <q-tooltip class="bg-black text-body2" :offset="[10, 10]">
                Inicio
              </q-tooltip>
            </q-tab>

            <q-tab class="fa-solid fa-display">
              <q-tooltip class="bg-black text-body2" :offset="[10, 10]">
                Watch
              </q-tooltip>
            </q-tab>
            <q-tab class="fa-solid fa-store">
              <q-tooltip class="bg-black text-body2" :offset="[10, 10]">
                Marketplace
              </q-tooltip>
            </q-tab>
            <q-tab class="fa-solid fa-user-group">
              <q-tooltip class="bg-black text-body2" :offset="[10, 10]">
                Grupos
              </q-tooltip>
            </q-tab>
            <q-tab class="fa-solid fa-gamepad">
              <q-tooltip class="bg-black text-body2" :offset="[10, 10]">
                Juegos
              </q-tooltip>
            </q-tab>
          </q-tabs>
        </div>

        <div style="margin-left: 22%">
          <q-btn
            flat
            dense
            round
            class="fondo"
            style="margin-left: ; width: 50px; height: 46px"
          >
            <q-icon
              style="color: black; margin-top: 1px; font-size: 33px"
              name="apps"
            ></q-icon>
            <q-tooltip class="bg-black text-body2" :offset="[10, 10]">
              Menú
            </q-tooltip>
          </q-btn>
          <q-btn flat dense round class="fondo" style="margin-left: 7px; width: 46px; height: 46px;">
            <q-icon
              style="color: black"
              name="fa-brands fa-facebook-messenger"
            />
            <q-tooltip class="bg-black text-body2" :offset="[10, 10]">
              Messenger
            </q-tooltip>
          </q-btn>
          <q-btn flat dense round class="fondo" style="margin-left: 7px; width: 46px; height: 46px;">
            <q-icon style="color: black" name="fa-solid fa-bell" />
            <q-tooltip class="bg-black text-body2" :offset="[10, 10]">
              Notificaciones
            </q-tooltip>
          </q-btn>
          <q-btn flat dense round class="tama" style="margin-left: 7px">
            <q-img
              style="
                color: black;
                height: 40px;
                max-width: 40px;
                border-radius: 20px;
                width: 40px;
              "
              src="img/Perfil.png"
            />
            <q-tooltip class="bg-black text-body2" :offset="[10, 10]">
              Cuenta
            </q-tooltip>
          </q-btn>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above class="fondo ">
      <q-list>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
        <q-separator size="1px"></q-separator>
        <q-item-label class="text-bold tam-text" header
          >Tus accesos directos
        </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks2"
          :key="link.title"
          v-bind="link"
        />

        <q-item-label class="tam-txt" header
          >Privacidad · Condiciones · Publicidad · Opciones de anuncios ·
          Cookies · Más · Meta © 2023</q-item-label
        >
      </q-list>
    </q-drawer>

    <q-drawer
      show-if-above
      v-model="rightDrawerOpen"
      side="right"
      bordered
      class="fondo"
      :breakpoint="500"
    >
          <q-list>
            <q-item-label class="text-bold tam-text" header>
              Cumpleaños
            </q-item-label>

            <EssentialLink
              v-for="link in essentialLinks3"
              :key="link.title"
              v-bind="link"
            />
            <q-separator size="1px"></q-separator>
            <q-item-label class="text-bold tam-text" header>
              Contactos
            </q-item-label>

            <FacebookContacts
              v-for="link in facebookContactos"
              :key="link.nombre"
              v-bind="link"
            />

            <q-page-sticky class="btn-flotante" :offset="[18, 18]">
              <div>
                <q-fab
                  style="background-color: white"
                  icon="fa-regular fa-pen-to-square"
                ></q-fab>
                <q-tooltip class="bg-black text-body2" :offset="[10, 10]">
                  Nuevo mensaje
                </q-tooltip>
              </div>
            </q-page-sticky>
          </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";
import EssentialLink from "components/EssentialLink.vue";
import FacebookContacts from "components/Contactos.vue";

const linksList = [
  {
    title: "Mariela Chirinos",
    icon: "img/Perfil.png",
    link: "https://www.facebook.com/marielaedith.chirinoshernandez.9",
  },
  {
    title: "Amigos",
    icon: "img/Amigos.png",
    link: "",
  },
  {
    title: "Grupos",
    icon: "img/Grupos.png",
    link: "",
  },
  {
    title: "Recuerdos",
    icon: "img/Recuerdos.png",
    link: "",
  },
  {
    title: "Más reciente",
    icon: "img/Mas_Recientes.png",
    link: "",
  },
  {
    title: "Marketplace",
    icon: "img/Marketplace.png",
    link: "",
  },
  {
    title: "Watch",
    icon: "img/Watch.png",
    link: "",
  },
  {
    title: "Guardados",
    icon: "img/Guardado.png",
    link: "",
  },
  {
    title: "Páginas",
    icon: "img/Paginas.png",
    link: "",
  },
  {
    title: "Reels",
    icon: "img/Reels.png",
    link: "",
  },
  {
    title: "Ver más",
    icon: "img/Ver_Mas.png",
    link: "",
  },
];
const linksList2 = [
  {
    title: "Criminal Case",
    icon: "img/Criminal_Case.png",
    link: "",
  },
];
const linksList3 = [
  {
    nombre: "Pedro Hdz Ruiz",
    image: "img/Pedro.png",
  },
  {
    nombre: "Francisco Juarez",
    image: "img/Juan.png",
  },
  {
    nombre: "Mario Perez",
    image: "img/Fer.png",
  },
  {
    nombre: "Julia Patricia Guzman",
    image: "img/Pao.png",
  },
  {
    nombre: "Paula Ruiz",
    image: "img/Jess.png",
  },
  {
    nombre: "Ana Yaresi",
    image: "img/Clau.png",
  },
  {
    nombre: "Edith Hernandez",
    image: "img/Moni.png",
  },
  {
    nombre: "Pedro Sobrevilla",
    image: "img/Gio.png",
  },
  {
    nombre: "Jesus Rodriguez",
    image: "img/Jesus.png",
  },
  {
    nombre: "Maria Rodriges",
    image: "img/Monse.png",
  },
  {
    nombre: "Carlos Garcia Chirinos",
    image: "img/Irving.png",
  },
  {
    nombre: "Oscar Guerrero",
    image: "img/Oscar.png",
  },
  {
    nombre: "Karla Alejandra Hernandez",
    image: "img/Herrera.png",
  },
  {
    nombre: "Andrea Sofia",
    image: "img/Sofia.png",
  },
];
const linksList4 = [
  {
    title: "Hoy es el cumpleaños de Mariela Chirinos y 2 personas más.",
    icon: "img/Cumple.png",
    link: "",
  },
];

export default defineComponent({
  name: "MainLayout",

  components: {
    EssentialLink,
    FacebookContacts,
  },

  setup() {
    const leftDrawerOpen = ref(false);
    const rightDrawerOpen = ref(false);

    return {
      essentialLinks: linksList,
      essentialLinks2: linksList2,
      facebookContactos: linksList3,
      essentialLinks3: linksList4,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
      rightDrawerOpen,
      toggleRightDrawer() {
        rightDrawerOpen.value = !rightDrawerOpen.value;
      },
      tab: ref("mails"),
    };
  },
});
</script>
